<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DiceRoller</title>
    <script>var roomId = "[[${roomId}]]";</script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"
            integrity="sha512-1QvjE7BtotQjkq8PxLeF6P46gEpBRXuskzIVgjFpekzFVF4yjRgrQvTG1MTOJ3yQgvTteKAcO7DSZI92+u/yZw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"
            integrity="sha512-iKDtgDyTHjAitUDdLljGhenhPwrbBfqTKWO1mkhSFH3A7blITC9MhYon6SjnMhp4o0rADGw9yAC6EW4t5a4K3g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
    <script th:src="@{/dieroll.js}"></script>

    <style>
@supports (-webkit-touch-callout: none) {
/* CSS specific to iOS devices */
div#rollContainer { overflow-y : scroll; height : calc(100vh - 500px);}
}

@supports not (-webkit-touch-callout: none) {
/* CSS for other than iOS devices */
div#rollContainer { overflow-y : scroll; height : calc(100vh - 298px);}
}

html {font-size: 1.5rem;}
    </style>

    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body class="d-flex bg-dark">
<noscript>
    <h2 style="color: #ff0000">Seems your browser doesn't support
        Javascript! Websocket relies on Javascript being enabled. Please
        enable Javascript and reload this page!</h2>
</noscript>
<div class="container-sm">
    <h1 class="text-light" th:inline="text">Room: [[${roomId}]]</h1>
    <div class="row">
        <div class="input-group input-group-lg">
            <div class="input-group-prepend">
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group btn-group-lg me-2">
                        <button id="roll2d6" onclick="roll('#6,6');" type="button" class="btn btn-primary">
                            d6,d6
                        </button>
                    </div>
                    <div class="btn-group btn-group-lg me-2">
                        <button id="roll20" onclick="roll('#20');" type="button" class="btn btn-primary">d20
                        </button>
                    </div>
                    <div class="btn-group btn-group-lg me-2">
                        <button id="roll6" onclick="roll('#6');" type="button" class="btn btn-primary">d6
                        </button>
                    </div>
                </div>
            </div>
            <input type="text" class="form-control rounded" id="name" placeholder="Name"></input>
        </div>
    </div>
    <div class="my-3 border rounded" id="rollContainer">
        <ul class="list-group">
            <li class="list-group-item" th:each="roll: ${savedRolls}" th:title=${roll.timestamp} th:inline="text">
                <span th:if="${roll.result != null}" class="me-2" th:text="${roll.name}"></span>
                <span th:if="${roll.result != null}" class="badge bg-primary rounded-pill me-2" th:inline="text">[[${roll.request}]]</span>
                <span th:if="${roll.result != null}" th:text="${roll.result}"></span>
                <span th:if="${roll.result == null}" class="me-2" th:inline="text">[[${roll.name}]]:</span>
                <span th:if="${roll.result == null}" class="me-2" th:utext="${roll.request}"></span>
            </li>
        </ul>
    </div>
    <div class="form-group">
        <div class="input-group input-group-lg">
            <input type="text" class="form-control rounded" id="message" placeholder="Chat here...">
        </div>
    </div>
</div>
</body>
</html>