<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DiceRoller</title>
    <script>
    var roomId = "[[${roomId}]]";

    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"
            integrity="sha512-1QvjE7BtotQjkq8PxLeF6P46gEpBRXuskzIVgjFpekzFVF4yjRgrQvTG1MTOJ3yQgvTteKAcO7DSZI92+u/yZw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"
            integrity="sha512-iKDtgDyTHjAitUDdLljGhenhPwrbBfqTKWO1mkhSFH3A7blITC9MhYon6SjnMhp4o0rADGw9yAC6EW4t5a4K3g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
            integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
            crossorigin="anonymous"></script>
    <script th:src="@{/dieroll.js}"></script>

    <style>
	div.rollContainer {overflow-y : scroll; height : 60vh}

    </style>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
          integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
          crossorigin="anonymous">

</head>
<body>
<noscript>
    <h2 style="color: #ff0000">Seems your browser doesn't support
        Javascript! Websocket relies on Javascript being enabled. Please
        enable Javascript and reload this page!</h2>
</noscript>
<h1 th:text="${roomId}"></h1>
<div class="container">
    <div id="conversationDiv">
        <form class="form-inline">
            <div>
                <div class="form-group">
                    <input type="text" class="form-control input-lg" id="name" placeholder="Name"></input>
                </div>
            </div>
            <div>
                <button id="roll2d6" onclick="roll('6,6');" type="button" class="btn btn-default btn-lg">d6;d6</button>
                <button id="roll20" onclick="roll('20');" type="button" class="btn btn-default btn-lg">d20</button>
                <button id="roll6" onclick="roll('6');" type="button" class="btn btn-default btn-lg">d6</button>
            </div>
        </form>
        <div id="rollContainer" class="rollContainer">
            <p id="response"></p>
        </div>
        <hr/>
        <div class="form-group">
            <label for="message">Message:</label>
            <input type="text" class="form-control" id="message">
        </div>
    </div>
</div>
</body>
</html>